*{
  margin:0;
  padding: 0;
}
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    /*for third slider*/

    .swiper-container-sthird{
      overflow: hidden;
    }
    .swiper-container-sthird .swiper-slide{
      width: 100%;
      height:100vh;
      margin-left: auto;
      margin-right: auto;
      background-size:100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .swiper-container-sthird .swiper-slide img{
      height: 100%;
      width: 100%;
      object-position: center;object-fit: cover;
    }
    .swiper-container-sthird .swiper-slide a{
      color:white;
      background-color: black;
      padding:8px 10px;
      border-radius:5px;
       cursor: pointer;
    }
    .swiper-container-sthird .swiper-slide a:hover{
      color:black;
      background-color: white;
      border:1px solid black;
      border-radius: 5px;
    }
    .swiper-container-sthird .container-content{
     position: relative;
     display: flex;
     flex-direction: column;
    transform: translateY(20vh);
    padding: 0px 0px 0px 50px;
    height: max-content;
    margin: 0px auto 0px 100px;
}
.swiper-container-sthird .fashion-tag{
  background-color:rgb(255,0,255);
  display: inline-block;
  padding:5px 10px;
  border-radius: 2px;
  color:white;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 15px;
  float: left;
}
.swiper-container-sthird .container-content p{
  font-family: sans-serif;
  color:white;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;

}
.swiper-container-sthird .info{
  display: flex;
  margin-top:20px;
  color:white;
  justify-content: space-between;
    width:400px;
    font-size: 18px;
}
.swiper-container-sthird .info span{
  display: inline-block;
}

.fa-user{
 margin-right: 10px;
}
.fa-clock{
  margin-right: 10px;
}
.fa-fire-alt{
  margin-right: 10px;
  color:orange;
}
.container-text{
  position: relative;
  padding: 50px 60px;
  font-family: sans-serif;
}
.ptext{
  font-size: 16px;
}
.container-text p{
   line-height: 25px;
}
.swiper-container-sthird .swiper-slide:hover{
       transform: translateY(0px);
    }
  @media screen and (max-width: 768px){
    .swiper-container-sthird .container-content{
    margin: 0px auto 0px 0px;
   }
   .swiper-container-sthird .container-content p{
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
   }
  }

 @media screen and (max-width: 480px){
  .swiper-container-sthird .info{
    display:flex;
  flex-direction:column;
  }
  .swiper-container-sthird .headertag{
    font-size: 17px;
  }
  .swiper-container-sthird .container-content p{
   font-size: 18px;
   margin-left:-40px;
    }

 }
 @media screen and (max-width: 320px){
   .swiper-container-sthird .container-content p{
   font-size: 16px;
   margin-left:-40px;
    }
    .swiper-container-sthird .fashion-tag{
      margin-left: 30px;
      margin-top: 10px;
    }
 }